.App {
  font-family: 'Roboto', sans-serif;
}
.header-container {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
}

#logo {
  width: 35%;
  justify-content: center;
  align-self: center;
  /* margin-bottom: 0;
  padding-bottom: 0; */
}

table {
  display: flex;
  justify-content: center;
}

.table-container {
  height: auto;
}

.price-estimate-container {
  display: flex;
  justify-content: center;
}

.exam-cells {
  width: 75%;
  text-align: start;
  height: 50px;
  font-size: 18px;
}

.price-container {
  width: 140px;
  height: 140px;
  border-bottom: 10px solid rgba(36, 160, 236, 0.5);
  display: flex;
  align-self: flex-end;
  margin: 0 0 70px 0;
  align-items: flex-end;
  justify-content: center;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #234082;
}

.clear-btn {
  display: flex;
  align-self: flex-end;
}

aside {
  height: 500px;
  width: 280px;
  display: flex;
  position: fixed;
  margin-left: 10px;
}

.side-exam-view {
  width: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.side-total-amount {
  margin-bottom: 10px;
  font-size: 30px;
}

.exam-list-names {
  list-style-type: none;
  display: flex;
  justify-self: center;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.btn-delete-examlist-container {
  display: flex;
  justify-content: space-between;
}

.icon-delete-examlist {
}